/*Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
.container{
    width: 55%;
    margin: 1.5rem auto;
    text-align: center;
    padding: 2rem;
    background-color: rgba(134,168,231,.3);
    border-radius: 30px;
    box-shadow: 5px 5px 25px #2f8392, -5px -5px 25px #7b7fd4;
    #task-form{
        width: 100%;
        margin: 3rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        #task-form__input{
            width: 78.5%;
            border-radius: 9px;
            border: 1px solid royalblue;
            box-shadow: -1px -1px 10px rgb(55, 127, 145) , 1px 1px 10px rgb(63, 140, 160);
            height:3.5rem;
            margin-right: 5px;
            &::placeholder{
                color: rgb(78, 74, 74);
                padding-left: 12px;
                font-size: 15px;
            }
            &:focus{
                outline: none;
                box-shadow: -1px -1px 10px rgb(55, 127, 145) , 1px 1px 10px rgb(63, 140, 160);
                border: 1.5px solid royalblue;
            }
        }

        #task-form__subit-btn{
            width: 20%;
            border-radius: 9px;
            border: 1px solid royalblue;
            box-shadow: -1px -1px 10px rgb(55, 127, 145) , 1px 1px 10px rgb(63, 140, 160);
            background-color: #5fc6d8;
            color: white;
            height: 3.5rem;
            cursor: pointer;
            &:hover{
                box-shadow: -1px -1px 5px royalblue;
                border: 1.5px solid royalblue;
                font-size: 15px;
            }
        }
    }

    #task-list{
        width: 100%;
        list-style: none;
        .task-list__item{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin-top: 2rem;
            border: 1px solid royalblue;
            border-radius: 9px; background-color: aqua;
            background-color: white;
            box-shadow: -1px -1px 5px royalblue;
            h2{

            }

            .icons{

                .check__icon{
                    margin-right: 1rem;
                    color: rgb(28, 143, 197);
                    &:hover{
                        color : green;
                        font-size: 22px;
                    }
                }

                .delete__icon{
                    color: rgba(190, 15, 15, 0.644);
                    &:hover{
                        color : rgb(233, 12, 12);
                        font-size: 22px;
                        padding: 0;
                    }
                }
            }
        }
    }

    #clear-all-tasks{
        margin-top: 2.5rem;
        width: 25%;
        border-radius: 9px;
        border: 1px solid royalblue;
        box-shadow: -1px -1px 5px royalblue;
        background-color: rgb(238, 104, 104);
        color: white;
        height: 2.8rem;
        cursor: pointer; 
        &:hover{
            border: 1.5px solid royalblue;
            box-shadow: -1px -1px 5px royalblue;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 555px) and (min-width: 320px){
    .container{
        width: 85%;
    }
  }